<head>
    <meta charset='utf-8'>
    {{ $title := .Title }}
    {{ if eq .Kind "taxonomy" }}
    {{ $title = (index (where .Site.Menus.main "Identifier" (lower .Title)) 0).Name }}
    {{ end }}
    <title>{{ $title }}{{ if not .IsHome }} - {{ .Site.Title }}{{ end }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mali&display=swap" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="/favicon.svg">
</head>
