@charset "UTF-8";html {
    font-size: 16px;
    font-family: helvetica neue,Helvetica,Arial,sans-serif
}

/* thai */
@font-face {
    font-family: 'Mali';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/N0ba2SRONuN4SDnED2xx.woff2) format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
    font-family: 'Mali';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/N0ba2SRONuN4SCLED2xx.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Mali';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/N0ba2SRONuN4SCPED2xx.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Mali';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/N0ba2SRONuN4SC3EDw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(/fonts/JetBrainsMono-Bold-Italic.woff2) format('woff2'),
    url(/fonts/JetBrainsMono-Bold-Italic.woff) format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(/fonts/JetBrainsMono-Bold.woff2) format('woff2'),
    url(/fonts/JetBrainsMono-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(/fonts/JetBrainsMono-ExtraBold-Italic.woff2) format('woff2'),
    url(/fonts/JetBrainsMono-ExtraBold-Italic.woff) format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(/fonts/JetBrainsMono-ExtraBold.woff2) format('woff2'),
    url(/fonts/JetBrainsMono-ExtraBold.woff) format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(/fonts/JetBrainsMono-Italic.woff2) format('woff2'),
    url(/fonts/JetBrainsMono-Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(/fonts/JetBrainsMono-Medium-Italic.woff2) format('woff2'),
    url(/fonts/JetBrainsMono-Medium-Italic.woff) format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(/fonts/JetBrainsMono-Medium.woff2) format('woff2'),
    url(/fonts/JetBrainsMono-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(/fonts/JetBrainsMono-Regular.woff2) format('woff2'),
    url(/fonts/JetBrainsMono-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    background-repeat: no-repeat
}

body {
    background: #f6f5f3;
    font-family: Georgia,nimbus roman no9 l,songti sc,STSong,ar pl new sung,ar pl sungtil gb,NSimSun,SimSun,tw\-sung,wenquanyi bitmap song,ar pl uming cn,ar pl uming hk,ar pl uming tw,ar pl uming tw mbe,sans-serif;
    color: #333;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 1px;
    word-break: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 200ms ease-in-out
}

a:hover {
    color: #090;
    border-bottom-color: inherit
}

input,button,textarea {
    display: inline-block;
    width: auto;
    height: 2rem;
    padding: .3rem;
    border-radius: .3rem;
    border: none;
    box-shadow: 0 0 1px gray;
    font-size: 1rem;
    color: gray;
    vertical-align: bottom
}

input[type=submit],input[type=button],button {
    cursor: pointer;
    background-color: #090;
    color: #fff
}

input[type=radio] {
    box-shadow: none
}

textarea {
    height: 6rem
}

.bz-is-h {
    display: none!important
}

h1,h2,h3,h4,h5,strong,b {
    font-weight: 700
}

sub,sup {
    font-size: .7em;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img,video {
    border: 0;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%
}

cite {
    display: block;
    font-size: 1rem;
    color: gray
}

cite:before {
    content: '\2014 \0020'
}

#bzh,.bz-co,#bzlis {
    margin: 0 auto;
    max-width: 79rem;
    padding: 1.25rem
}

#bzh,#bzlis {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    pointer-events: none;
    align-items: flex-start;
    font-size: 1.125rem;
    flex-direction: column;
    z-index: 99999
}

#bzh>*,#bzlis>* {
    pointer-events: auto;
    width: 12.5rem
}

#bzh {
    padding-top: 3rem;
    justify-content: flex-start;
    flex-wrap: nowrap;
    min-height: 6rem;
    background-color: transparent
}

#s-tr {
    position: absolute;
    right: 0;
    top: 0;
    display: none
}

#logo:hover #layer_2 {
    animation: cc .6s linear 0s infinite alternate
}

#logo {
    height: 5rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: none
}

#logo svg {
    width: 3rem;
    height: 3rem
}

#logo #layer_1 {
    fill: #f34b4b
}

#logo #layer_2 {
    fill: #900
}

#logo #layer_3 {
    fill: #c00
}

#logo b,#logo h1 {
    font-size: 1.2rem
}

#s-co {
    text-transform: uppercase;
    margin-top: 3rem;
    flex: 1 1
}

#s-co ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

#s-co li {
    text-align: center
}

#s-co li+li {
    margin-top: 1rem
}

#s-co a {
    position: relative
}

#s-co a.active:before {
    content: "";
    width: .2rem;
    height: .2rem;
    border: .2rem solid #090;
    position: absolute;
    left: -1em;
    top: .4em;
    border-radius: 50%
}

section {
    width: 100%;
    display: block;
    font-size: 1.125rem;
    line-height: 1.8;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word
}

.bztp {
    flex: 1
}

.bz-co {
    padding-left: 15rem;
    text-align: justify
}

.bztp .bz-co {
    padding-top: 3rem
}

#page .bztp {
    background: #fff
}

.bz-post .bzp:after {
    content: 'fin.';
    margin-bottom: 0;
    display: block;
    text-align: center;
    font-style: italic
}

.bzp a {
    border-bottom: 1px solid;
    border-color: #090
}

.bzt {
    font-size: 1.5rem;
    display: block
}

.bzt:after {
    content: "";
    width: 2rem;
    height: 2px;
    background: #000;
    display: block;
    margin-top: 0.6rem
}

.bzp>ul li+li,.bzp>ol li+li {
    margin-top: .6rem
}

.bzd {
    color: gray;
    letter-spacing: 0;
    font-size: 1rem
}

.ar,cite {
    text-align: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.bzd i {
    font-style: normal
}

.bzd i+i {
    margin-left: 1rem
}

.bzt,.bzd,.bzp>*,#comments>div, article .tags {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 1.5rem
}

article .bzt, article .bzd, article .tags {
    margin-bottom: 0.6rem;
}

.bzp>figure,.bzp>.flex-video {
    width: auto;
    display: block;
    max-width: 100%
}

.bzp figure p {
    margin: 0
}

.bzp figure figcaption {
    font-size: 1rem;
    margin-top: 1rem;
    color: gray;
    text-align: center
}

.bzp figure img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.flex-video {
    position: relative;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden
}

.flex-video embed,.flex-video iframe,.flex-video object,.flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.flex-video.widescreen {
    padding-bottom: 56.25%
}

.bzp mark {
    background: rgba(255,255,0,.3)
}

.bzp b,.bzp strong {
    background: rgba(39,243,106,.3)
}

.bzp blockquote,.bzp ul,.bzp ol {
    padding-left: 2.25rem
}

.bzp blockquote {
    color: #656565;
    border-left: 3px solid #efefef;
    border-left-width: 6px;
    background-color: rgba(119,119,119,0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;
}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-family: consolas, monospace;
    font-size: 85%;
    background-color: rgba(175,184,193,0.2);;
    border-radius: 6px;
}

pre code {
    overflow: auto;
    font-family: 'JetBrains Mono', monospace;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f0f3f3 !important;
    border-radius: 6px;
}

.highlight {
    display: flex;
    padding: 16px;
    overflow: auto;
    background-color: #f0f3f3;
    border-radius: 6px;
}

.highlight pre {
    padding: 0;
    overflow: unset;
    background-color: transparent !important;
    border-radius: 0;
    border: 0;
}

.bzp hr {
    border: 0
}

.bzp hr:after {
    content: '§';
    text-align: center;
    display: block
}

.bzd a {
    border-bottom: none
}

.bzp h3:before {
    content: '#';
    color: gray;
    position: absolute;
    margin-left: -1.2rem
}

#bzrp .bzt {
    max-width: none
}

#bzpnn {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

#bzpnn>* {
    flex: 1 0 50%
}

#bzpnn a {
    padding: 1rem 1.8rem;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block
}

#bzpp a {
    border-right: 1px solid gray
}

#bzpnn a span {
    letter-spacing: .15rem;
    font-size: .75rem;
    text-transform: uppercase;
    display: block
}

#bzpp a {
    background-image: url(/images/prev.svg);
    background-position: 0
}

#bzpn a {
    background-image: url(/images/next.svg);
    background-position: 100%
}

#bzpp a:hover,#bzpn a:hover {
    background-color: #f9f2e3
}

#bzcts {
    max-width: 56rem
}

.bz-pgs {
    display: grid;
    transition: grid-template-columns 200ms ease-in-out;
    grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));
    grid-gap: 1.5rem
}

.bz-pgs:after {
    content: "";
    clear: both;
    display: table
}

.bz-pgs>* {
    padding: 0 1.5rem 1.5rem 0;
    width: 46%;
    float: left;
    grid-column: auto
}

@supports(display: grid) {
    .bz-pgs>* {
        padding:0;
        float: none;
        width: auto
    }
}

.bz-pgs .bz-pg a {
    background-color: rgba(255,255,255,.8);
    display: block;
    box-shadow: 0 2px 7px rgba(0,0,0,.3);
    border-radius: .3rem;
    overflow: hidden;
    padding-bottom: .5rem
}

.bz-pgs .bz-pg h4 {
    padding: .5rem 1rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.bz-pgs .bz-pg p {
    color: gray;
    padding: 0 1rem
}

.bz-pgs .bz-pg .bz-pi {
    height: 8rem;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    background-color: #daaf2b;
    background-image: url(/images/shortcut.svg)
}

#good .bz-pi {
    background-image: none;
    color: #090;
    background-color: #fff;
    padding: 1rem
}

.bz-pgs .bz-pg a:hover {
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    transition: box-shadow 150ms ease-in-out
}

#good {
    grid-column: 1;
    grid-row: 1
}

#bzan {
    background-color: #fac800;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem
}

#contact {
    text-align: right
}

#bzlis {
    justify-content: space-around;
    flex-wrap: nowrap;
    min-height: 4rem;
    background-color: transparent;
    bottom: 0;
    text-align: center
}

#bzsl {
    display: flex;
    justify-content: space-around;
    margin-bottom: .3rem
}

#bzsl a {
    padding: .2rem
}

#bzsl svg {
    width: 1rem;
    height: 1rem
}

#bzsl a:hover svg {
    fill: #090
}

@keyframes cc {
    0% {
        fill: #9297d1
    }

    25% {
        fill: #d192cc
    }

    50% {
        fill: #d1a292
    }

    75% {
        fill: #b7d192
    }

    100% {
        fill: #92d1b7
    }
}

@media only screen and (max-width: 900px) {
    #bzh,#bzlis {
        align-items:center;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem
    }

    #bzh>*,#bzlis>* {
        width: auto;
        margin: 0
    }

    #bzh {
        position: absolute;
        flex-wrap: nowrap;
        min-height: 2rem;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
        letter-spacing: 0
    }

    #logo {
        height: auto;
        display: none
    }

    #logo svg {
        display: none
    }

    #s-co {
        margin-top: 0
    }

    #s-co ul {
        flex-direction: row
    }

    #s-co li {
        letter-spacing: 0
    }

    #s-co li+li {
        margin: 0
    }

    .bz-hfs {
        display: none
    }

    #s-co a.active:before {
        border-width: .2rem;
        width: .2rem;
        height: .2rem;
        left: -.3em;
        top: .8em
    }

    .bz-co {
        padding: 1.75rem
    }

    .bzp>figure,.bzp>.flex-video {
        margin: 0 -1.75rem 1.5rem;
        display: block;
        max-width: calc(100% + 3.5rem)
    }

    .bztp .bz-co {
        padding-top: 5rem
    }

    .bz-pgs>* {
        width: 100%;
        padding: 0 0 1.5rem
    }

    @supports(display: grid) {
        .bz-pgs>* {
            width:auto;
            padding: 0
        }
    }

    #IN-book-long-running-cafe figure {
        background-size: 90%
    }

    #IN-book-long-running-cafe figure,#IN-4-hours-become-a-coffee-expert figure,#IN-diggcafe figure,#IN-posts figure,#IN-hot figure {
        background-position-x: center
    }

    #bzlis {
        position: static;
        flex-direction: row;
        width: 100%
    }

    #bzsl {
        justify-content: flex-start;
        margin: 0
    }

    #bzsl a {
        padding: .6rem
    }
}

@media screen and (min-width: 1280px) and (min-height:600px) {
    html {
        font-size:18px
    }
}

#bzmore {
    height: 1.8rem;
    width: 18rem;
    margin: 0 auto;
    justify-content: center;
    border-radius: .3rem;
    border: 1px solid #fac800;
    padding: 0;
    background-color: #fac800;
    cursor: pointer;
    overflow: hidden;
    color: #333
}

#dntimg img {
    max-width: 30%
}

#donateBox ul {
    display: flex;
    width: 18rem;
    margin: 0 auto;
    justify-content: center;
    border-radius: .3rem;
    border: 1px solid #fac800;
    padding: 0;
    position: relative
}

#donateBox li {
    flex: 1;
    height: 1.8rem;
    border-left: 1px solid gray;
    background-color: #fac800;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto 48%;
    cursor: pointer;
    overflow: hidden;
    line-height: 60rem;
    opacity: .5
}

#donateBox li:hover {
    background-color: #f9f2e3;
    border-left: 1px solid #fac800;
    opacity: 1
}

#donateBox ul>li:first-child {
    border-width: 0
}

#donateBox a {
    display: block
}

#donateBox #bzes {
    background-image: url(/images/mail.svg)
}

#donateBox #bzdn {
    background-image: url(/images/donate.svg)
}

#donateBox ul span {
    position: absolute;
    right: -.5rem;
    top: -.5rem;
    color: #fff;
    background-color: #090;
    line-height: 1;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2)
}

/*************/
/* PAGINATOR */
/*************/
.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
    line-height: 1;
}

.page-link {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.page-item {
    padding: 3px;
}

.page-item.active .page-link {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.page-item:not(.active) .page-link:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
}

/********/
/* TAGS */
/********/
.tags-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1px 0;
}

.tags-holder .topic {
    margin: 3px 16px 10px 0;
    vertical-align: middle;
}

.tag {
    color: #333333;
}

.tag {
    position: relative;
    display: inline-block;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    border-radius: 100px;
    background: #b8b8b859;
}

.tags-holder .active {
    background: #4CAF50;
    color: #ffffff;
}

.tags-holder .active:hover {
    background: #4CAF50;
}

.tags-holder .active a:hover {
    color: #ffffff;
}

.tag:hover {
    background-color: #00990029;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.badge {
    position: relative;
    font-family: sans-serif;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*************/
/* List TAGS */
/*************/
.bz-pgs .bz-pg .tags {
    color: gray;
    padding: 0 1rem;
}

.tags {
    margin-top: 8px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ls-tag {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
}

.tags .ls-tag:not(:last-child) {
    margin-right: .5rem;
}

.tags .ls-tag {
    margin-bottom: .5rem;
}

/* Archives */
.archive-list {
    list-style: none;
}

.archive-list li {
    padding: .5em 1em;
    line-height: 1.5em;
}

.archive-list time {
    float: right;
    margin-left: 1em;
}

.archives {
    margin-top: 27px;
}

.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
}

pre::-webkit-scrollbar-corner, .highlight::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: transparent;
}

pre::-webkit-scrollbar, .highlight::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

pre::-webkit-scrollbar-thumb, .highlight::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
}

.about>* {
    max-width: unset !important;
}

#logo-name {
    font-family: 'Mali', cursive;
}

table {
    margin-top: 0;
    margin-bottom: 16px;
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

table th {
    font-weight: 600;
}

table th, table td {
    padding: 6px 13px;
    border: 1px solid #d0d7de;
}

table tr {
    background-color: #ffffff;
    border-top: 1px solid hsla(210,18%,87%,1);
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

table img {
    background-color: transparent;
}
