{{ define "main" }}
<div class="content">
    {{ $display := index (where .Site.Menus.main "Identifier" "archives") 0 }}
    <h3 class="title">{{ $display.Name }}</h3>

    {{ partial "tags.html" (dict "context" . "Terms" .Site.Taxonomies.archives.Alphabetical.Reverse ) }}

    <div class="archives">
    {{ if eq .Kind "term" }}
        <h3>{{ .Title }}</h3>
        {{ partial "post/archive.html" . }}
    {{ else }}
        {{ range (.Paginate .Pages.ByTitle.Reverse 3).Pages }}
        <h3>{{ .Name }}</h3>
        {{ partial "post/archive.html" . }}
        {{ end }}
    {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
