<article class="content">
    <h2 class="title">{{ .Title }}</h2>
    <div class="remark">
        {{ if .Params.Author }}
        <span>{{ .Params.Author }} @ </span>
        {{ end }}
        <time datetime="{{ .Date }}" >{{ .Date.Format "2006-01-02" }}</time>
    </div>
    <div class="tags">
        {{ $currentPage := . }}
        {{ range .Params.tags }}
        <a href='{{ ($currentPage.Site.Taxonomies.tags.Get (lower .)).Page.RelPermalink }}'>{{ . }}</a>
        {{ end }}
    </div>
    {{ if .Params.leading }}
    <figure><img src="{{ .Params.image }}" alt="leading"></figure>
    {{ end }}
    <div class="markdown-body">
        {{ .Content }}
    </div>
    {{ if .Site.Params.math }}
    {{ partial "math.html" . }}
    {{ end }}
</article>